.button {
    color: red;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    padding: 7px 35px;
    border-color: red;
    transition: all 0.25s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}


.button:hover {
    background-color: red;
    color: black;
    border-color: transparent;
}