* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: 'Barlow', sans-serif;
    
}

.subscribersContent {
    display: flex;
    align-items: center;
    justify-content: center;
}